@import '../index.css';

/* .sf-bubbly-button {
  display: inline-block;
  font-size: 1em;
  padding: 1em;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow linear 0.15s;
}

.sf-bubbly-button:hover {
  box-shadow: 0 0 5px var(--accent-darker);
}

.sf-bubbly-button:focus {
  outline: 0;
}

.sf-bubbly-button:before,
.sf-bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.sf-bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--accent) 20%, transparent 30%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--accent) 15%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.sf-bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--accent) 15%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%), radial-gradient(circle, var(--accent) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.sf-bubbly-button:active {
  transform: scale(0.9);
  background-color: var(--accent-darker);
  box-shadow: 0 2px 25px var(--accent-darker);
}

.sf-bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.sf-bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
} */

/* BUTTON 2 */

.sf-bubbly-button {
  appearance: none;
  backface-visibility: hidden;
  background-color: var(--accent);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(var(--accent-darker), .15) 0 4px 9px;
  box-sizing: border-box;
  color: var(--secondary);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.sf-bubbly-button:hover {
  background-color: var(--accent-darker);
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.sf-bubbly-button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.sf-bubbly-button:hover {
  box-shadow: rgba(var(--accent-darker), .2) 0 6px 12px;
}