@import '../index.css';

.sf-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sf-navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sf-navbar-item {
    padding: 2rem 0;
}

.sf-navbar-profile {
    bottom: 2vh;
}

.sf-mobile-item-padding span {
    padding: 0 10px;
}

.sf-mobile-nav-pfp {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.sf-nav-pfp {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.sf-mobile-navbar {
    border-top: var(--tertiary) .5px solid;
    padding: 10px;
    background-color: var(--primary);
}

.sf-nav-profile-full {
    border: 1px solid var(--accent);
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
}

.sf-nav-profile-item {
    padding: 15px;
}