@import '../index.css';

.sf-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sf-m-top {
    top: 10px !important;
}

.sf-navbar {
    height: 100vh;
}

.sf-navbar-item {
    padding: 5vh 0;
}

.sf-navbar-profile {
    bottom: 2vh;
    position: absolute;
}