@import '../index.css';

.sf-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sf-navbar {
    height: 100vh;
    padding: 10vh 0;
}

.sf-navbar-item {
    padding: 2rem 0;
    ;
}

.sf-navbar-profile {
    bottom: 2vh;
}

.sf-mobile-item-padding span {
    padding: 0 10px;
}

.sf-mobile-nav-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sf-mobile-navbar {
    border-top: var(--secondary) 1px solid;
    padding: 10px;
    background-color: var(--primary);
}