@import '../index.css';

.sf-font-bold {
    font-weight: bold;
}

.sf-font-normal {
    font-weight: normal;
}

.sf-home-bottom-border {
    border: 0px solid var(--secondary);
    padding: 0px;
    border-bottom: 1px;
}

.sf-no-link-decor {
    text-decoration: none;
}