@import '../index.css';

.sf-font-bold {
    font-weight: bold;
}

.sf-font-normal {
    font-weight: normal;
}

.sf-bottom-border {
    border-bottom: 1px solid var(--secondary);
    width: calc(100% + 24px);
    margin-left: -12px;
}

.sf-no-link-decor {
    text-decoration: none;
}

.sf-bottom-post {
    height: 50vh;
}