.sf-text-bold {
    font-weight: bold;
    color: black;
}

.sf-no-text-decor {
    text-decoration: none;
}

.sf-searchbar-page-container {
    height: 7.5rem;
    width: calc(24px + 100%);
    margin-left: -12px;
    border-bottom: 1px var(--tertiary) solid;
}

.sf-results-button-container {
    height: 4rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sf-result-container {
    border: 1px solid var(--tertiary);
    border-radius: 10px;
    height: calc(7rem + 2px);
}

.sf-result-img {
    height: 7rem;
    width: 7rem;
    border-radius: 15px;
}

.sf-result-body {
    display:flex;
    flex-direction: column;
}

.sf-result-hover:hover {
    background-color: rgba(var(--tertiary-rgb), 0.1);
    border-color: var(--accent);
}
