:root {
    /* --primary: #ffffff; */
    --primary: #14181b;
    /* --secondary: #000000; */
    --secondary: #e9e9e9;
    --tertiary: #606060;
    --accent: #00dc25;
    --accent-darker: #00ac1d;
    --clear: #ffffff00;
}

html,
body {
    max-width: 100%;
    background-color: var(--primary);
    /* overflow-x: hidden; */
}

.sf-test {
    background-color: red;
    width: 100%;
    height: 1000vh;
}

.sf-primary {
    color: var(--primary) !important;
}

.sf-bg-primary {
    background-color: var(--primary) !important;
}

.sf-secondary {
    color: var(--secondary) !important;
}

.sf-bg-secondary {
    background-color: var(--secondary) !important;
}

.sf-tertiary {
    color: var(--tertiary) !important;
}

.sf-bg-tertiary {
    background-color: var(--tertiary) !important;
}

.sf-accent {
    color: var(--accent) !important;
}

.sf-bg-accent {
    background-color: var(--accent) !important;
}

.sf-accent-darker {
    color: var(--accent-darker) !important;
}

.sf-bg-accent-darker {
    background-color: var(--accent-darker) !important;
}

.sf-top-0 {
    top: 0 !important;
}

.sf-pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.sf-side {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    margin-top: -10px !important;
}

.sf-right-border {
    border-right: 1px solid var(--tertiary);
    top: 0;
}

.sf-left-border {
    border-left: 1px solid var(--tertiary);
    top: 0;
}

.sf-text-bold {
    font-weight: bold;
}

.sf-text-normal {
    font-weight: normal;
}