:root {
    --primary: #14181b;
    --secondary: #e9e9e9;
    --tertiary: #727272;
    --tertiary-alt: #2f2f2f;

    --primary-dark: #14181b;
    --secondary-dark: #e9e9e9;
    --tertiary-dark: #727272;
    --tertiary-alt-dark: #2f2f2f;

    --primary-light: #ffffff;
    --secondary-light: #000000;
    --tertiary-light: #565656;
    --tertiary-alt-light: #c6c6c6;

    --accent: #00dc25;
    --accent-darker: #00ac1d;
    --clear: #ffffff00;
}

html,
body {
    max-width: 100%;
    background-color: var(--primary);
    /* overflow-x: hidden; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.sf-test {
    background-color: red;
    width: 100%;
    height: 1000vh;
}

.sf-primary {
    color: var(--primary) !important;
}

.sf-bg-primary {
    background-color: var(--primary) !important;
}

.sf-secondary {
    color: var(--secondary) !important;
}

.sf-bg-secondary {
    background-color: var(--secondary) !important;
}

.sf-tertiary {
    color: var(--tertiary) !important;
}

.sf-bg-tertiary {
    background-color: var(--tertiary) !important;
}

.sf-tertiary-alt {
    color: var(--tertiary-alt) !important;
}

.sf-bg-tertiary-alt {
    background-color: var(--tertiary-alt) !important;
}

.sf-accent {
    color: var(--accent) !important;
}

.sf-bg-accent {
    background-color: var(--accent) !important;
}

.sf-accent-darker {
    color: var(--accent-darker) !important;
}

.sf-bg-accent-darker {
    background-color: var(--accent-darker) !important;
}

.sf-pfp {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.sf-side {
    height: 100vh;
}

.sf-right-border {
    border-right: 1px solid var(--tertiary);
    top: 0;
}

.sf-left-border {
    border-left: 1px solid var(--tertiary);
    top: 0;
}

.sf-text-bold {
    font-weight: bold;
}

.sf-text-normal {
    font-weight: normal;
}

.sf-bg-blur {
    background: var(--primary) opacity(0.9) !important;
    backdrop-filter: blur(10px);
}

.sf-clickable {
    cursor: pointer;
}

.sf-underline-hover:hover {
    text-decoration: underline;
}

.sf-darken-hover {
    cursor: pointer;
    transition: 0.3s;
}

.sf-darken-hover:hover {
    filter: brightness(0.9);
}